<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Welcome, <%= @user.username %>! </h1>

    <p>Thank you for showing interest in 99 cats! To log in to the website, and one of out super awesome cats, please follow this link - <a href="<%= @url %>">Sign In </a>. </p> <br>
    <p> For any other requests or enquires, or anything else really, please head over to our super helpful help section, which is located here -<a href="<%= @betterurl %>">Customer Support </a> </p>


  </body>
</html>
