/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: 1px solid gray;
  font-weight: bold;
}

.header-logo:hover {
  background-color: black;
}

.header-list {
  border-left:  1px solid gray;
  float: right;
}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  background-color: black;
}
