h1 { font-size: 38px;}

h2 { font-size: 32px;}

.ingredients_list { list-style: square inside;}

li { list-style: circle;}

body {
  font-family: Arial, sans-serif;
  background-color: :inherit;
}

header > img {
  width: 100px;
}
ul li a { text-decoration: none;
          color: inherit;}

* { background-color: whitesmoke; }
